*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    border: solid purple 10px;
}

figure{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: tomato;
    height: 90vh;
}
img{
    width: 20vw;
    height: 30vh;
    border: solid black 7px;
    border-radius: 40px;
}
